<?xml version="1.0" encoding="UTF-8"?>
<!-- Fichero de configuración de logback v.1
  Info adicional:
    https://logback.qos.ch/manual/configuration.html
    https://stackify.com/logging-logback/
    https://www.codingame.com/playgrounds/4497/configuring-logback-with-spring-boot
    https://www.adictosaltrabajo.com/2016/03/28/tutorial-logback-en-spring-boot/
-->
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml" />

    <!-- Configuración fichero individual -->
    <!--<appender name="Grabar_Fichero" class="ch.qos.logback.core.FileAppender">
        <file>logs/log.log</file>
        <encoder>
            <pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>-->

    <!-- Configuración fichero con rooling  de forma que vaya generando múltiples según se cumplan las condiciones -->
    <appender name="Graba_Rooling_mensajes" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/log.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d{ISO8601} ${LOG_LEVEL_PATTERN:-%5p} - [%thread] %-40.40logger{39} %class:%line --> %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}}"/></Pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/log%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>10</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
    </appender>


    <!-- Por ahora y para probar selecciono todos los tipos de LOGs -->
    <root>
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="Graba_Rooling_mensajes" />
    </root>

</configuration>